<%- include('../partials/head')%>

<div class="container">
	<div class="jumbotron mt-5">
		<h2>Info de Celula</h2>
		<form method="POST" action="/voluntario/<%= data.id_voluntario %>?_method=PUT">
			<div class="form-group">
				<label for="id">Id:</label>
				<input type="number" class="form-control" id="id" value="<%= data.id_voluntario %>" disabled>
			</div>
			<div class="form-group">
				<label for="idc">Id Celula:</label>
				<input type="number" class="form-control" id="idc" value="<%= data.id_celula %>" name="id_celula">
			</div>
			<div class="form-group">
				<label for="nombre">Nombre:</label>
				<input type="text" class="form-control" id="nombre" name="nombre" value="<%= data.nombre %>">
			</div>
			<div class="form-group">
				<label for="apellido">Apellido:</label>
				<input type="text" class="form-control" id="apellido" name="apellido" value="<%= data.apellido %>">
			</div>
			<div class="form-group">
				<label for="nacimiento">Fecha de Nacimiento:</label>
				<input type="date" class="form-control" id="nacimiento" name="fecha_nacimiento" value="<%= data.fecha_nacimiento.toISOString().split('T')[0] %>">
			</div>
			<div class="form-group">
				<label for="numero">Numero Telefonico:</label>
				<input type="tel" class="form-control" id="numero" name="numero_celular" value="<%= data.numero_celular %>">
			</div>
			<div class="form-group">
				<label for="correo">Correo Electronico:</label>
				<input type="email" class="form-control" id="correo" name="correo" value="<%= data.correo %>">
			</div>
			<div class="form-group">
				<label for="ciudad">Ciudad y Pais:</label>
				<input type="text" class="form-control" id="ciudad" value="<%= data.ciudad_pais %>" name="ciudad_pais">
			</div>
			<button type="submit" class="btn btn-primary btn-block">Cambiar</button>
		</form>
	</div>
	<form class="mt-2" method="POST" action="/voluntario/<%= data.id_voluntario %>?_method=DELETE" onsubmit="return confirm('En serio quieres borrar?');">
		<button class="btn btn-danger btn-block">Borrar</button>
	</form>
</div>

<%- include('../partials/footer')%>