<%- include('../partials/head')%>
<script src="/scripts/script.js"></script>

<div class="container mt-5">
	<h1>Canalizado</h1>
	<br>
	<input class="form-control" id="myInput" type="text" placeholder="Buscar..">
	<br>
	<div class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Doliente</th>
					<th>Canalizado a</th>
					<th>Comentario</th>
				</tr>
			</thead>
			<tbody id="myTable">
				<%for (let element of data) {%>
				<tr>
					<td><%= element.primer_nombre %> <%= element.apellido_paterno %></td>
					<td><a href="/canalizado/<%=element.id_doliente%>"><%= element.canalizado_a %></a></td>
					<td><%= element.canalizado_comentario %></td>
				</tr>
				<%}%>
			</tbody>
		</table>
		<a href="canalizado/nuevo" class="btn btn-primary btn-block">Crear</a>
		<form class="mt-2" method="POST" action="/canalizado?_method=DELETE" onsubmit="return confirm('En serio quieres borrar todo?');">
			<button class="btn btn-danger btn-block">Borrar Todo</button>
		</form>
	</div>
</div>

<%- include('../partials/footer')%>