<%- include('../partials/head')%>
<script src="/scripts/multiples.js"></script>

<div class="container">
	<div class="jumbotron mt-5">
		<h2>Formulario de Horario</h2>
		<form method="POST" action="/horario">
			<%if(urlquery.id!=null){%>
				<input type="hidden" name="id_voluntario" value="<%=urlquery.id%>">
			<%} else {%>
				<div class="form-group">
					<label for="idVoluntario">Voluntario:</label>
					<select name="id_voluntario" id="idVoluntario" class="form-control">
						<option disabled selected value> -- Elije un Voluntario -- </option>
						<%for (let element of data) {%>
							<option value="<%=element.id_voluntario%>"><%= element.nombre + " " + element.apellido%></option>
						<%}%>
					</select>
				</div>
			<%}%>

			<div class="form-group">
					<label for="horariosCantidad">Cantidad de horarios:</label>
					<input type="number" class="form-control" id="horariosCantidad" name="horariosCantidad" 
						   placeholder="Seleccione cuántos horarios puede ayudar el voluntario" onchange="agregarHorario();">
			</div>
			
			<div id="multiples">
				
			</div>
			
			<button type="submit" class="btn btn-primary btn-block">Crear</button>
		</form>
	</div>
</div>

<%- include('../partials/footer')%>