<%- include('../partials/head')%>
<script src="/scripts/script.js"></script>

<div class="container mt-5">
	<h1>Aporte</h1>
	<br>
	<input class="form-control" id="myInput" type="text" placeholder="Buscar..">
	<br>
	<div class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Doliente</th>
					<th>Cantidad Aportada</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody id="myTable">
				<%for (let element of data) {%>
				<tr>
					<td><%= element.id_aporte %></td>
					<td><%= element.id_doliente %></td>
					<td><a href="/aporte/<%=element.id_aporte%>"><%= element.cantidad_que_aporto %></a></td>
					<td><%= element.fecha_de_deposito %></td>
				</tr>
				<%}%>
			</tbody>
		</table>
		<a href="aporte/nuevo" class="btn btn-primary btn-block">Crear</a>
		<form class="mt-2" method="POST" action="/aporte?_method=DELETE" onsubmit="return confirm('En serio quieres borrar todo?');">
			<button class="btn btn-danger btn-block">Borrar Todo</button>
		</form>
	</div>
</div>

<%- include('../partials/footer')%>