<%- include('../partials/head')%>

<div class="container">
	<div class="jumbotron mt-5">
		<h2>Formulario de Escucha</h2>
		<form method="POST" action="/escucha">
			<!-- <div class="form-group">
				<label for="id">Id:</label>
				<input type="number" class="form-control" id="id" placeholder="Escribir ID" name="id">
			</div> -->
			<%if(data3.id!=null){%>
				<div class="form-group">
					<label for="idDoliente">Id doliente:</label>
					<input type="text" class="form-control" id="idDoliente" value="<%=data3.name%>" disabled>
					<input type="hidden" name="id_doliente" value="<%=data3.id%>">
				</div>
			<%} else {%>
				<div class="form-group">
					<label for="idDoliente">Id doliente:</label>
					<select name="id_doliente" id="idDoliente" class="form-control">
						<option disabled selected value> -- Elije un Doliente -- </option>
						<%for (let element of data) {%>
							<option value="<%=element.id_doliente%>"><%= element.primer_nombre %> <%= element.apellido_paterno %></option>
						<%}%>
					</select>
				</div>
			<%}%>
			<div class="form-group">
				<label for="idVoluntario">Id voluntario:</label>
				<select name="id_voluntario" id="idVoluntario" class="form-control">
					<option disabled selected value> -- Elije un Voluntario -- </option>
					<%for (let element2 of data2) {%>
						<option value="<%=element2.id_voluntario%>"><%= element2.nombre %> <%= element2.apellido %></option>
					<%}%>
				</select>
			</div>
			<div class="form-group">
				<!-- <label for="numeroEscucha">Número de Escucha:</label> -->
				<input type="hidden" class="form-control" id="numeroEscucha" name="numero_escucha" value="1">
			</div>
			<div class="form-group">
				<label for="fecha">Fecha:</label>
				<input type="datetime-local" class="form-control" id="fecha" name="fecha">
			</div>
			<div class="form-group">
				<label for="horaTermino">Hora término:</label>
				<input type="time" class="form-control" id="horaTermino" name="hora_termino">
			</div>
			<!-- <div class="form-group">
				<label for="seCumplio">¿Se cumplió la escucha?:</label>
				<select class="form-control" id="seCumplio" name="se_cumplio">
				  <option value=1>Si</option>
				  <option value=2>No</option>
				</select>
			</div>
			<div class="form-group">
				<label for="comentario">Comentario:</label>
				<input type="textarea" class="form-control" id="comentario" name="comentario">
			</div> -->
			<button type="submit" class="btn btn-primary btn-block">Crear</button>
		</form>
	</div>
</div>

<%- include('../partials/footer')%>