<%- include('../partials/head')%>
<script src="/scripts/script.js"></script>

<div class="container mt-5">
	<a href="/escucha/todas" class="btn btn-info">Todas las Escuchas</a>
	<h1>Escuchas</h1>
	<br>
	<input class="form-control" id="myInput" type="text" placeholder="Buscar..">
	<br>
	<div class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Doliente</th>
					<th>Voluntario</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody id="myTable">
				<%for (let element of data) {%>
				<tr>
					<td><a href="/escucha/<%=element.id_escucha%>"><%= element.id_escucha %></a></td>
					<td><%= element.primer_nombre %> <%= element.apellido_paterno %></td>
					<td><%= element.nombre %> <%= element.apellido %></td>
					<td><%= element.fecha.toISOString().split('T')[0] %></td>
				</tr>
				<%}%>
			</tbody>
		</table>
		<form class="mt-2" method="POST" action="/escucha/reminder" onsubmit="return confirm('Quieres Mandar los Recordatorios');">
			<button class="btn btn-success btn-block">Mandar Recordatorios</button>
		</form>
	</div>
</div>

<!-- <a aria-label="Chat on WhatsApp" href="https://wa.me/525559175602?text=Compra%20una%20quesadilla">WhatsApp</a> -->

<%- include('../partials/footer')%>